@model IEnumerable<Appointment>

@{
    ViewData["Title"] = "AllAppointments";
}
@using DesignExperts.Resources;
<div class="content__inner">
    <!--header section-->
    <header class="content__title">
        <h1>Manage Appointments</h1>

        <div class="actions">
            <a href="" class="actions__item zmdi zmdi-trending-up"></a>
            <a href="" class="actions__item zmdi zmdi-check-all"></a>

            <div class="dropdown actions__item">
                <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                <div class="dropdown-menu dropdown-menu-right">
                    <a asp-controller="Appointment" asp-action="CreateAppointment" class="dropdown-item">Create New</a>
                    <a href="" class="dropdown-item">Refresh</a>
                    <a href="" class="dropdown-item">Settings</a>
                </div>
            </div>
        </div>
    </header>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="data-table" class="table table-striped table-bordered">
                    <thead class="thead-default">
                        <tr>
                            <th>Client</th>
                            <th>Appointmet</th>
                            <th>Date</th>
                            <th>Duration</th>
                            <th>Appointee</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() != 0)
                        {
                            foreach (Appointment appointment in Model)
                            {
                                <tr>
                                    <td>@appointment.ClientId</td>
                                    <td>@appointment.Id</td>
                                    <td>@appointment.AppointmentDate</td>
                                    <td>@appointment.StartTime</td>
                                    <td>@appointment.Appointee</td>
                                    <td>@appointment.Status</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


