<head>
    <link rel="stylesheet" href="~/Theme/vendors/bower_components/sweetalert2/dist/sweetalert2.min.css">
    <link href="~/lib/jquery/jQuery-loader/jquery.loader.min.css" rel="stylesheet" />
</head>

@{
    ViewData["Title"] = "CreateClient";
}
@model Appointment

<div class="content__inner">

    <div class="row">
        <!--header section-->
        <div class="col-md-6">
            <header class="content__title content__title--calendar">
                <h1>November 15, 2018</h1>

                <div class="actions actions--calendar">
                    <a href="" class="actions__item actions__calender-prev"><i class="zmdi zmdi-long-arrow-left"></i></a>
                    <a href="" class="actions__item actions__calender-next"><i class="zmdi zmdi-long-arrow-right"></i></a>
                    <i class="actions__item zmdi zmdi-view-comfy" data-calendar-view="month"></i>
                    <i class="actions__item zmdi zmdi-view-week" data-calendar-view="basicWeek"></i>
                    <i class="actions__item zmdi zmdi-view-day actions__item--active" data-calendar-view="basicDay"></i>
                </div>
            </header>
        </div>
        <div class="col-md-6">
            <header class="content__title">
                <h1>Setup New Appointment</h1>

                <div class="actions">
                    <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a asp-controller="Appointment" asp-action="AllAppointments" class="dropdown-item">View Setuped</a>
                            <a href="" class="dropdown-item">Refresh</a>
                            <a href="" class="dropdown-item">Settings</a>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="col-md-6">
            <div class="calendar card"></div>
        </div>
        <div class="col-md-6">
            @Html.AntiForgeryToken()
            <form asp-controller="Appointment" asp-action="CreateAppointment"
                  data-ajax="true" data-ajax-method="POST" data-ajax-begin="onBegin"
                  data-ajax-success="onSuccess" data-ajax-failure="onFailure">
                <div class="input-group">
                    <span class="input-group-addon" data-toggle="tooltip" data-placement="top" data-original-title="Client Name"><i class="zmdi zmdi-account"></i></span>
                    <div class="form-group">
                        <select asp-for="ClientId" asp-items="@(new SelectList(@ViewBag.ListOfClients,"Id","Name"))"
                                class="select2  select2-hidden-accessible form-control" aria-hidden="true"></select>
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <br /><br />
                <div class="input-group">
                    <span class="input-group-addon" data-toggle="tooltip" data-placement="top" data-original-title="Appointment Date"><i class="zmdi zmdi-calendar"></i></span>
                    <div class="form-group">
                        <input type="text" asp-for="AppointmentDate" id="appt-date" class="form-control date-picker" placeholder="Pick a date">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="input-group col-md-6">
                        <span class="input-group-addon" data-toggle="tooltip" data-placement="top" data-original-title="Start Time"><i class="zmdi zmdi-time"></i></span>
                        <div class="form-group">
                            <input type="text" asp-for="StartTime" class="form-control time-picker" placeholder="Pick a start time">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="input-group col-md-6">
                        <span class="input-group-addon" data-toggle="tooltip" data-placement="top" data-original-title="End Time"><i class="zmdi zmdi-time"></i></span>
                        <div class="form-group">
                            <input type="text" asp-for="EndTime" class="form-control time-picker" placeholder="Pick an end time">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                </div>
                <br /><br />
                      <div class="row">
                          <div class="input-group col-md-6">
                              <span class="input-group-addon" data-toggle="tooltip" data-placement="top" data-original-title="Client Name"><i class="zmdi zmdi-account-circle"></i></span>
                              <div class="form-group">
                                  <select asp-for="Appointee" asp-items="@(new SelectList(@ViewBag.ListOfDirectors,"FirstName","FirstName"))"
                                          class="select2  select2-hidden-accessible form-control" aria-hidden="true"></select>
                                  <i class="form-group__bar"></i>
                              </div>
                          </div>
                          <div class="input-group col-md-6">
                              <span class="input-group-addon" data-toggle="tooltip" data-placement="top" data-original-title="Appointment Booking Charges"><i class="zmdi zmdi-money"></i></span>
                              <div class="form-group">
                                  <input type="number" asp-for="AppointmentFee" class="form-control" placeholder="Booking Charges">
                                  <i class="form-group__bar"></i>
                              </div>
                          </div>
                      </div>
                
                <br /><br />
                <div class="text-center">
                    <button id="btn-save" type="submit" class="btn btn-light btn--icon-text"><i class="zmdi zmdi-save"></i> Create</button>
                    <button type="button" class="btn btn-light btn--icon-text"><i class="zmdi zmdi-close"></i> Clear</button>
                </div>

            </form>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/Theme/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Theme/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/Theme/vendors/bower_components/autosize/dist/autosize.min.js"></script>
    <script src="~/Theme/vendors/bower_components/flatpickr/dist/flatpickr.min.js"></script>

    <script src="~/Theme/vendors/bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/lib/jquery/jQuery-loader/jquery.loader.min.js"></script>
    <!-- Calendar Script -->
    <script>
        'use strict';
        $(document).ready(function () {
            var date = new Date();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('.calendar').fullCalendar({
                header: {
                    right: '',
                    center: '',
                    left: ''
                },
                buttonIcons: {
                    prev: 'calendar__prev',
                    next: 'calendar__next'
                },
                theme: false,
                selectable: true,
                selectHelper: true,
                editable: true,
                //handling day click event
                dayClick: function (date) {
                    var isoDate = moment(date).toISOString();
                    flatpickr("#appt-date", {}).setDate(isoDate);
                    //var fp = $('#appt-date').flatpickr({
                    //    dateFormat: 'd/m/Y',
                    //    defaultDate: [isoDate]
                    //});
                },

                viewRender: function (view) {
                    var calendarDate = $('.calendar').fullCalendar('getDate');
                    var calendarMonth = calendarDate.month();

                    //Set title in page header
                    $('.content__title--calendar > h1').html(view.title);
                },

                eventClick: function (event, element) {
                    $('#edit-event').modal('show');
                    $('.edit-event__id').val(event.id);
                    $('.edit-event__title').val(event.title);
                    $('.edit-event__description').val(event.description);
                }
            });


            //Add new Event
            $('body').on('click', '.new-event__add', function () {
                var eventTitle = $('.new-event__title').val();

                // Generate ID
                var GenRandom = {
                    Stored: [],
                    Job: function () {
                        var newId = Date.now().toString().substr(6); // or use any method that you want to achieve this string

                        if (!this.Check(newId)) {
                            this.Stored.push(newId);
                            return newId;
                        }
                        return this.Job();
                    },
                    Check: function (id) {
                        for (var i = 0; i < this.Stored.length; i++) {
                            if (this.Stored[i] == id) return true;
                        }
                        return false;
                    }
                };

                if (eventTitle != '') {
                    $('.calendar').fullCalendar('renderEvent', {
                        id: GenRandom.Job(),
                        title: eventTitle,
                        start: $('.new-event__start').val(),
                        end: $('.new-event__end').val(),
                        allDay: true,
                        className: $('.event-tag input:checked').val()
                    }, true);

                    $('.new-event__form')[0].reset();
                    $('.new-event__title').closest('.form-group').removeClass('has-danger');
                    $('#new-event').modal('hide');
                }
                else {
                    $('.new-event__title').closest('.form-group').addClass('has-danger');
                    $('.new-event__title').focus();
                }
            });


            //Update/Delete an Event
            $('body').on('click', '[data-calendar]', function () {
                var calendarAction = $(this).data('calendar');
                var currentId = $('.edit-event__id').val();
                var currentTitle = $('.edit-event__title').val();
                var currentDesc = $('.edit-event__description').val();
                var currentEvent = $('.calendar').fullCalendar('clientEvents', currentId);

                //Update
                if (calendarAction === 'update') {
                    if (currentTitle != '') {
                        currentEvent[0].title = currentTitle;
                        currentEvent[0].description = currentDesc;

                        $('.calendar').fullCalendar('updateEvent', currentEvent[0]);
                        $('#edit-event').modal('hide');
                    }
                    else {
                        $('.edit-event__title').closest('.form-group').addClass('has-error');
                        $('.edit-event__title').focus();
                    }
                }

                //Delete
                if (calendarAction === 'delete') {
                    $('#edit-event').modal('hide');
                    setTimeout(function () {
                        swal({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            type: 'warning',
                            showCancelButton: true,
                            buttonsStyling: false,
                            confirmButtonClass: 'btn btn-danger',
                            confirmButtonText: 'Yes, delete it!',
                            cancelButtonClass: 'btn btn-light',
                            background: 'rgba(0,0,0,0.096)'
                        }).then(function () {
                            $('.calendar').fullCalendar('removeEvents', currentId);
                            swal({
                                title: 'Deleted!',
                                text: 'Your list has been deleted.',
                                type: 'success',
                                buttonsStyling: false,
                                cancelButtonClass: 'btn btn-light',
                                background: 'rgba(0,0,0,0.096)'
                            });
                        })
                    }, 200);
                }
            });


            //Calendar views switch
            $('body').on('click', '[data-calendar-view]', function (e) {
                e.preventDefault();

                $('[data-calendar-view]').removeClass('actions__item--active');
                $(this).addClass('actions__item--active');
                var calendarView = $(this).attr('data-calendar-view');
                $('.calendar').fullCalendar('changeView', calendarView);
            });


            //Calendar Next
            $('body').on('click', '.actions__calender-next', function (e) {
                e.preventDefault();
                $('.calendar').fullCalendar('next');
            });


            //Calendar Prev
            $('body').on('click', '.actions__calender-prev', function (e) {
                e.preventDefault();
                $('.calendar').fullCalendar('prev');
            });
        });
    </script>
}